In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

import seaborn as sns
import matplotlib.pylab as plt
%matplotlib inline

going to import all 5 data files and attempt to clean them.

In [52]:
Ancestry=pd.read_csv('Unclean Data/Ancestry 1st Response - Unclean.csv')
Age=pd.read_csv('Unclean Data/Average Age - Unclean.csv')
Education=pd.read_csv('Unclean Data/Education - Unclean.csv')
Children=pd.read_csv('Unclean Data/Number of Children ever born - Unclean.csv')
Income=pd.read_csv('Unclean Data/Weekly income - Unclean.csv')

## Clean Ancestry

the goal here is to have a dataframe with a single column, proportion of western european responses

In [53]:
Ancestry = Ancestry.drop(columns="Unnamed: 13")
Ancestry = Ancestry.drop(columns="Unnamed: 14")
Ancestry = Ancestry.drop(Ancestry.index[95])

In [54]:
Ancestry['NewEuropean'] = Ancestry['North-West European'].str.replace(',', '')
Ancestry['NewEuropean'] = Ancestry['NewEuropean'].astype(int)
Ancestry['Total'] = Ancestry['Total'].str.replace(',', '')
Ancestry['Total'] = Ancestry['Total'].astype(int)

In [55]:
Ancestry['Proportion'] = Ancestry['NewEuropean']/Ancestry['Total']

In [56]:
Ancestry=Ancestry.drop(['Oceanian','North-West European','Southern and Eastern European','North African and Middle Eastern','South-East Asian','North-East Asian','Southern and Central Asian','Peoples of the Americas','Sub-Saharan African','Supplementary codes','Not stated','Total','NewEuropean'],axis=1)

In [57]:
Ancestry

                                     Name  Proportion
0                                  Albury    0.561347
1                                  Auburn    0.102925
2                                 Ballina    0.580751
3                                 Balmain    0.473518
4                               Bankstown    0.131282
5                                  Barwon    0.462985
6                                Bathurst    0.539708
7                          Baulkham Hills    0.330962
8                                    Bega    0.584526
9                               Blacktown    0.252742
10                         Blue Mountains    0.616392
11                             Cabramatta    0.098096
12                                 Camden    0.446942
13                           Campbelltown    0.407265
14                             Canterbury    0.154591
15                            Castle Hill    0.380485
16                               Cessnock    0.550932
17                            Charlestown    0.581072
18                               Clarence    0.556488
19                          Coffs Harbour    0.556087
20                                 Coogee    0.489605
21                            Cootamundra    0.531783
22                               Cronulla    0.554451
23                               Davidson    0.457668
24                              Drummoyne    0.300350
25                                  Dubbo    0.504427
26                             East Hills    0.279811
27                                 Epping    0.307144
28                              Fairfield    0.113418
29                                Gosford    0.554573
..                                    ...         ...
65                                Penrith    0.513022
66                              Pittwater    0.607868
67                         Port Macquarie    0.597000
68                          Port Stephens    0.569627
69                               Prospect    0.183274
70                             Riverstone    0.287129
71                               Rockdale    0.205775
72                                   Ryde    0.233900
73                            Seven Hills    0.311322
74                           Shellharbour    0.528498
75                            South Coast    0.565117
76                            Strathfield    0.159861
77                            Summer Hill    0.330722
78                                Swansea    0.589625
79                                 Sydney    0.362544
80                               Tamworth    0.520745
81                               Terrigal    0.606937
82                           The Entrance    0.574900
83                                  Tweed    0.591226
84                           Upper Hunter    0.533783
85                               Vaucluse    0.438673
86                            Wagga Wagga    0.543929
87                              Wakehurst    0.504216
88                               Wallsend    0.528365
89                             Willoughby    0.391508
90                            Wollondilly    0.546110
91                             Wollongong    0.413896
92                                  Wyong    0.545358
93                 No usual address (NSW)    0.376546
94  Migratory - Offshore - Shipping (NSW)    0.467780

[95 rows x 2 columns]

In [58]:
Ancestry.to_csv('Clean Data/CleanAncestry.csv')

## Age
the plan here to give us a single average age that very closely approximates to average age, we will approximate 0-9 years as 5, 10-19 as 15, etc and take the average, sum of count*agebracket divided by total

first, commas must be removed from our strings of data then converted to int

update- through research, it seems we can specify commas as equalling thousands in pandas saving a lot of time

after that, i will replace each column with their supertotal (for 0-9 years, 5*0-9years , for 10-19, 15*10-19, etc)

In [75]:
Age=pd.read_csv('Unclean Data/Average Age - Unclean.csv',thousands=',')

In [77]:
Age['0-9 years'] = 5*Age['0-9 years']
Age['10-19 years'] = 15*Age['10-19 years']
Age['20-29 years'] = 25*Age['20-29 years']
Age['30-39 years'] = 35*Age['30-39 years']
Age['40-49 years'] = 45*Age['40-49 years']
Age['50-59 years'] = 55*Age['50-59 years']
Age['60-69 years'] = 65*Age['60-69 years']
Age['70-79 years'] = 75*Age['70-79 years']
Age['80-89 years'] = 85*Age['80-89 years']
Age['90-99 years'] = 95*Age['90-99 years']
Age['100 years and over'] = 105*Age['100 years and over']

In [79]:
Age['supertotal']= Age['0-9 years'] + Age['10-19 years'] + Age['20-29 years'] + Age['30-39 years'] + Age['40-49 years'] + Age['50-59 years'] + Age['60-69 years'] + Age['70-79 years'] + Age['80-89 years'] + Age['90-99 years'] + Age['100 years and over']

In [81]:
Age['Average']= Age['supertotal']/Age['Total']

In [83]:
Age = Age.drop(['0-9 years','10-19 years','20-29 years','30-39 years','40-49 years','50-59 years','60-69 years','70-79 years','80-89 years','90-99 years','100 years and over','Total','supertotal'],axis=1)

In [85]:
Age.to_csv('Clean Data/AverageAge.csv')

## Education

our education value will be the proportion of the population that has completed high school (year 12)
because we learned of the thousands feature in read csv, this data will be very easy to clean

In [86]:
Education=pd.read_csv('Unclean Data/Education - Unclean.csv',thousands=',')

In [88]:
Education['Proportion']=Education['Year 12 or equivalent']/Education['Total']

In [90]:
Education=Education.drop(['Year 12 or equivalent','Year 11 or equivalent','Year 10 or equivalent','Year 9 or equivalent','Year 8 or below','Did not go to school','Not stated','Not applicable','Total'],axis=1)

In [93]:
Education.to_csv('Clean Data/Education.csv')
Education

                                     Name  Proportion
0                                  Albury    0.306550
1                                  Auburn    0.490746
2                                 Ballina    0.379375
3                                 Balmain    0.620436
4                               Bankstown    0.409595
5                                  Barwon    0.230070
6                                Bathurst    0.295237
7                          Baulkham Hills    0.548517
8                                    Bega    0.313782
9                               Blacktown    0.443288
10                         Blue Mountains    0.443767
11                             Cabramatta    0.399905
12                                 Camden    0.351563
13                           Campbelltown    0.342098
14                             Canterbury    0.496529
15                            Castle Hill    0.509690
16                               Cessnock    0.231208
17                            Charlestown    0.364140
18                               Clarence    0.240535
19                          Coffs Harbour    0.316481
20                                 Coogee    0.609316
21                            Cootamundra    0.236518
22                               Cronulla    0.459994
23                               Davidson    0.582078
24                              Drummoyne    0.564062
25                                  Dubbo    0.283487
26                             East Hills    0.422031
27                                 Epping    0.603616
28                              Fairfield    0.380915
29                                Gosford    0.355646
..                                    ...         ...
66                              Pittwater    0.500139
67                         Port Macquarie    0.304954
68                          Port Stephens    0.280751
69                               Prospect    0.423965
70                             Riverstone    0.478422
71                               Rockdale    0.524885
72                                   Ryde    0.617762
73                            Seven Hills    0.477363
74                           Shellharbour    0.281838
75                            South Coast    0.270909
76                            Strathfield    0.610687
77                            Summer Hill    0.574016
78                                Swansea    0.269801
79                                 Sydney    0.679684
80                               Tamworth    0.276132
81                               Terrigal    0.400719
82                           The Entrance    0.325821
83                                  Tweed    0.321861
84                           Upper Hunter    0.253287
85                               Vaucluse    0.630582
86                            Wagga Wagga    0.328960
87                              Wakehurst    0.494078
88                               Wallsend    0.377066
89                             Willoughby    0.625696
90                            Wollondilly    0.331617
91                             Wollongong    0.389358
92                                  Wyong    0.273068
93                 No usual address (NSW)    0.339193
94  Migratory - Offshore - Shipping (NSW)    0.298329
95                                    NaN         NaN

[96 rows x 2 columns]

## Number of children

Number of children will be cleaned similarly to average age, except we needn't times every amount by the average of their range, just how many children they've had, including no children by 0 (or more simply, excluding no children entirely)

Children['one child'] also does not need to be edited

In [94]:
Children=pd.read_csv('Unclean Data/Number of Children ever born - Unclean.csv',thousands = ',')

In [96]:
Children['Two children']= 2*Children['Two children']
Children['Three children']= 3*Children['Three children']
Children['Four children']= 4*Children['Four children']
Children['Five children']= 5*Children['Five children']
Children['Six children']= 6*Children['Six children']
Children['Seven children']= 7*Children['Seven children']
Children['Eight or more children']= 8*Children['Eight or more children']

In [97]:
Children['Supertotal']=Children['One child']+Children['Two children']+Children['Three children']+Children['Four children']+Children['Five children']+Children['Six children']+Children['Seven children']+Children['Eight or more children']

In [98]:
Children['Average']=Children['Supertotal']/Children['Total']

In [102]:
Children=Children.drop(['No children','One child','Two children','Three children','Four children','Five children','Six children','Seven children','Eight or more children','Total','Supertotal'],axis=1)

In [104]:
Children.to_csv('Clean Data/AverageChildren.csv')

## Average weekly income

for weekly income, we will perform this exactly how we performed counting average age, and use the average of each bracket times the number of respondents under it. this may be a little skewed, but it will be very very close and should result in the same error for all subjects due to the large numbers used in this, we will divide by 100 during the multiplication (ie, the average of 1-149 will be 75/100 = 0.75). additionally, to save some time typing i will be making new, shorter named brackets to count my supertotal.

In [105]:
Income=pd.read_csv('Unclean Data/Weekly income - Unclean.csv',thousands = ',')

In [106]:
Income[75]=0.75*1− 149 ( 1− 7,799)

,Name,Nil income,"$1-$149 ($1-$7,799)","$150-$299 ($7,800-$15,599)","$300-$399 ($15,600-$20,799)","$400-$499 ($20,800-$25,999)","$500-$649 ($26,000-$33,799)","$650-$799 ($33,800-$41,599)","$800-$999 ($41,600-$51,999)","$1,000-$1,249 ($52,000-$64,999)","$1,250-$1,499 ($65,000-$77,999)","$1,500-$1,749 ($78,000-$90,999)","$1,750-$1,999 ($91,000-$103,999)","$2,000-$2,999 ($104,000-$155,999)","$3,000 or more ($156,000 or more)",Total
0,Albury,3863.0,2559.0,4640.0,6237.0,6264.0,5767.0,5463.0,5930.0,5362.0,3452.0,2592.0,1634.0,1898.0,982.0,56658.0
1,Auburn,12984.0,3246.0,7081.0,7504.0,6439.0,5890.0,6303.0,6752.0,6326.0,3799.0,2866.0,1866.0,2620.0,1062.0,74730.0
2,Ballina,3332.0,2370.0,4106.0,6190.0,6585.0,6088.0,5554.0,5150.0,4533.0,2657.0,2152.0,1535.0,1875.0,1325.0,53436.0
3,Balmain,6313.0,1951.0,3146.0,3654.0,3637.0,3415.0,3408.0,4266.0,5154.0,4347.0,4462.0,3501.0,7463.0,8073.0,62779.0
4,Bankstown,9174.0,2953.0,6614.0,7226.0,6023.0,4970.0,5074.0,5215.0,4734.0,2879.0,1908.0,1172.0,1381.0,502.0,59829.0
5,Barwon,3762.0,2041.0,5301.0,6848.0,6416.0,5048.0,4690.0,4495.0,4231.0,2619.0,2169.0,1644.0,2068.0,1034.0,52370.0
6,Bathurst,4386.0,2466.0,4900.0,6129.0,6301.0,5068.0,4896.0,5000.0,4726.0,3129.0,2591.0,1894.0,2462.0,1002.0,54949.0
7,Baulkham Hills,7680.0,3282.0,3627.0,3765.0,3512.0,3988.0,3956.0,4480.0,5388.0,4222.0,3900.0,3049.0,5670.0,3602.0,60109.0
8,Bega,3141.0,2464.0,5025.0,7647.0,7087.0,5986.0,5368.0,4953.0,4171.0,2387.0,1617.0,1110.0,1207.0,666.0,52829.0
9,Blacktown,8357.0,2762.0,5074.0,6047.0,5466.0,4737.0,5797.0,7103.0,6937.0,4348.0,3080.0,1945.0,2168.0,534.0,64349.0
10,Blue Mountains,4425.0,2585.0,3859.0,4745.0,5483.0,4872.0,4468.0,4682.0,4782.0,3475.0,3186.0,2540.0,3435.0,1299.0,53839.0
11,Cabramatta,9810.0,3134.0,7207.0,8015.0,6169.0,4852.0,5322.0,5384.0,4675.0,2622.0,1791.0,1034.0,1086.0,384.0,61480.0
12,Camden,6059.0,2673.0,3653.0,4613.0,4299.0,4565.0,5075.0,6031.0,6869.0,5127.0,4344.0,3172.0,4179.0,1503.0,62165.0
13,Campbelltown,6265.0,2525.0,4711.0,5820.0,5163.0,4704.0,5312.0,6023.0,5640.0,3624.0,2634.0,1601.0,1852.0,589.0,56481.0
14,Canterbury,9221.0,2956.0,5587.0,6950.0,5997.0,5337.0,5540.0,6016.0,6051.0,3878.0,2976.0,2025.0,2764.0,1239.0,66532.0
15,Castle Hill,7414.0,3104.0,3470.0,3442.0,3329.0,3875.0,3909.0,4445.0,5242.0,4063.0,4004.0,3089.0,5650.0,3902.0,58937.0
16,Cessnock,4506.0,2380.0,4724.0,6754.0,6203.0,4899.0,4951.0,4791.0,4696.0,2822.0,2259.0,1578.0,2427.0,901.0,53892.0
17,Charlestown,3829.0,2646.0,3993.0,5934.0,5668.0,4744.0,4563.0,4776.0,4952.0,3280.0,2966.0,2162.0,3291.0,1590.0,54403.0
18,Clarence,3627.0,2339.0,5684.0,8799.0,7712.0,5814.0,5456.0,4735.0,3704.0,1972.0,1497.0,1016.0,1035.0,531.0,53917.0
19,Coffs Harbour,3622.0,2398.0,4842.0,6757.0,6346.0,5637.0,5562.0,5326.0,4312.0,2694.0,1986.0,1398.0,1581.0,793.0,53257.0
20,Coogee,4807.0,1989.0,2613.0,3058.0,3379.0,3337.0,3470.0,4522.0,5795.0,5197.0,5011.0,3826.0,7120.0,7422.0,61541.0
21,Cootamundra,3415.0,2022.0,4438.0,7063.0,6477.0,5412.0,5163.0,4891.0,4061.0,2232.0,1807.0,1183.0,1341.0,880.0,50360.0
22,Cronulla,4255.0,2597.0,2820.0,3508.0,4019.0,4046.0,4258.0,4764.0,5451.0,4283.0,3963.0,2966.0,4924.0,3931.0,55774.0
23,Davidson,7210.0,3387.0,3148.0,3017.0,3198.0,3472.0,3360.0,3925.0,4423.0,3442.0,3362.0,2640.0,5501.0,7971.0,58047.0
24,Drummoyne,7255.0,2259.0,3302.0,4084.0,3891.0,3659.0,3778.0,4726.0,5605.0,4266.0,4207.0,3245.0,6102.0,5190.0,61574.0
25,Dubbo,3651.0,2277.0,4182.0,5931.0,5544.0,5064.0,5261.0,5227.0,4768.0,2883.0,2406.0,1868.0,2478.0,1111.0,52657.0
26,East Hills,6840.0,2581.0,4544.0,5663.0,5153.0,4555.0,4669.0,5267.0,5474.0,3628.0,2903.0,2051.0,2815.0,1085.0,57236.0
27,Epping,9374.0,3573.0,3816.0,3801.0,3827.0,3909.0,3782.0,4335.0,5084.0,3804.0,3647.0,2937.0,5703.0,4209.0,61809.0
28,Fairfield,8890.0,3291.0,8350.0,9221.0,7026.0,4927.0,5131.0,5471.0,4611.0,2610.0,1683.0,967.0,958.0,342.0,63477.0
29,Gosford,4584.0,2437.0,4358.0,6247.0,6606.0,5339.0,4938.0,5150.0,4864.0,3147.0,2584.0,1790.0,2491.0,1127.0,55668.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Pittwater,4398.0,2471.0,2873.0,3235.0,3725.0,4036.0,4075.0,4574.0,5164.0,3925.0,3514.0,2425.0,4433.0,4680.0,53522.0
67,Port Macquarie,3620.0,2368.0,4772.0,8144.0,7272.0,5977.0,5241.0,4872.0,4232.0,2597.0,2019.0,1489.0,1720.0,945.0,55275.0
68,Port Stephens,4075.0,2427.0,4520.0,6644.0,6298.0,5396.0,4756.0,4598.0,4532.0,2785.0,2327.0,1490.0,1989.0,936.0,52765.0
69,Prospect,7607.0,2780.0,5302.0,6247.0,5162.0,4428.0,4852.0,5808.0,5771.0,3884.0,3023.0,1949.0,2487.0,783.0,60084.0
70,Riverstone,8300.0,2849.0,3444.0,3700.0,3606.0,3883.0,4361.0,5600.0,6696.0,5249.0,4547.0,3508.0,5383.0,1901.0,63041.0
71,Rockdale,8020.0,2387.0,4274.0,5720.0,5676.0,5173.0,5568.0,6505.0,6624.0,4435.0,3638.0,2451.0,3727.0,1841.0,66050.0
72,Ryde,11556.0,3323.0,4857.0,5080.0,5046.0,4831.0,4990.0,5819.0,7040.0,4956.0,4438.0,3249.0,5473.0,2702.0,73367.0
73,Seven Hills,7320.0,2785.0,4195.0,4916.0,4801.0,4420.0,4681.0,5729.0,6288.0,4511.0,3997.0,2865.0,4289.0,1362.0,62163.0
74,Shellharbour,5426.0,2799.0,4969.0,7675.0,6574.0,5672.0,5272.0,5292.0,5066.0,3384.0,2759.0,2010.0,2603.0,860.0,60358.0
75,South Coast,3462.0,2242.0,5147.0,8346.0,7079.0,5681.0,4923.0,4271.0,3764.0,2127.0,1695.0,1118.0,1273.0,601.0,51729.0
76,Strathfield,12125.0,3017.0,4801.0,5831.0,5682.0,5311.0,5403.0,6337.0,6909.0,4700.0,3934.0,2754.0,4394.0,2528.0,73729.0
77,Summer Hill,6015.0,2281.0,4009.0,5084.0,5286.0,4465.0,4628.0,5477.0,6177.0,4606.0,4047.0,3042.0,5066.0,2866.0,63048.0
78,Swansea,4314.0,2380.0,4350.0,7321.0,6605.0,5531.0,4765.0,4727.0,4687.0,2769.0,2262.0,1627.0,2072.0,989.0,54394.0
79,Sydney,7074.0,1550.0,3023.0,4557.0,5157.0,4834.0,4648.0,5688.0,6938.0,5491.0,5386.0,4120.0,8707.0,9726.0,76904.0
80,Tamworth,3632.0,2318.0,4344.0,6315.0,6079.0,5269.0,5519.0,5866.0,5076.0,2944.0,2312.0,1652.0,2147.0,979.0,54447.0
81,Terrigal,4457.0,2751.0,3769.0,5152.0,5438.0,5090.0,4636.0,4747.0,4876.0,3338.0,3162.0,2382.0,3232.0,2018.0,55047.0
82,The Entrance,4247.0,2531.0,4201.0,5927.0,6259.0,5400.0,4970.0,5329.0,4975.0,3172.0,2564.0,1719.0,2099.0,850.0,54247.0
83,Tweed,3752.0,2531.0,4763.0,7666.0,7534.0,6398.0,5366.0,5127.0,4755.0,2740.0,2206.0,1466.0,1660.0,920.0,56888.0
84,Upper Hunter,4702.0,2505.0,4368.0,5757.0,5507.0,4824.0,4718.0,4484.0,4192.0,2702.0,2330.0,1883.0,3782.0,1553.0,53314.0
85,Vaucluse,5127.0,1721.0,2051.0,2387.0,2698.0,2976.0,3256.0,4134.0,5256.0,4424.0,4468.0,3435.0,6978.0,9896.0,58817.0
86,Wagga Wagga,3967.0,2452.0,4275.0,5274.0,5303.0,5333.0,5442.0,5880.0,5532.0,3618.0,2811.0,2019.0,2304.0,1056.0,55273.0
87,Wakehurst,5106.0,2762.0,3247.0,3952.0,4439.0,4574.0,4713.0,5394.0,5729.0,4195.0,3683.0,2543.0,4578.0,3920.0,58830.0
88,Wallsend,5730.0,2884.0,5671.0,6753.0,6552.0,5380.0,5207.0,5439.0,5395.0,3539.0,2949.0,1986.0,2717.0,1181.0,61395.0
89,Willoughby,7833.0,2642.0,2978.0,3182.0,3297.0,3400.0,3584.0,4261.0,5186.0,4223.0,4171.0,3310.0,6925.0,8828.0,63815.0
90,Wollondilly,4877.0,2482.0,3607.0,5078.0,4741.0,4618.0,4818.0,5127.0,5304.0,3530.0,3015.0,2281.0,3034.0,1650.0,54171.0
91,Wollongong,6261.0,3010.0,6400.0,7857.0,7485.0,5369.0,5160.0,4978.0,5044.0,3356.0,2800.0,2020.0,2709.0,1206.0,63655.0
92,Wyong,4616.0,2523.0,4678.0,6778.0,6643.0,5278.0,5388.0,5291.0,4862.0,2999.0,2350.0,1544.0,1851.0,731.0,55527.0
93,No usual address (NSW),1141.0,360.0,1548.0,1326.0,1047.0,704.0,682.0,668.0,536.0,272.0,215.0,134.0,210.0,109.0,8957.0
94,Migratory - Offshore - Shipping (NSW),19.0,9.0,32.0,43.0,31.0,37.0,43.0,25.0,10.0,7.0,15.0,3.0,13.0,3.0,295.0
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN