In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

import seaborn as sns
import matplotlib.pylab as plt
%matplotlib inline

going to import all 5 data files and attempt to clean them.

In [52]:
Ancestry=pd.read_csv('Unclean Data/Ancestry 1st Response - Unclean.csv')
Age=pd.read_csv('Unclean Data/Average Age - Unclean.csv')
Education=pd.read_csv('Unclean Data/Education - Unclean.csv')
Children=pd.read_csv('Unclean Data/Number of Children ever born - Unclean.csv')
Income=pd.read_csv('Unclean Data/Weekly income - Unclean.csv')

## Clean Ancestry

the goal here is to have a dataframe with a single column, proportion of western european responses

In [53]:
Ancestry = Ancestry.drop(columns="Unnamed: 13")
Ancestry = Ancestry.drop(columns="Unnamed: 14")
Ancestry = Ancestry.drop(Ancestry.index[95])

,Name,Oceanian,North-West European,Southern and Eastern European,North African and Middle Eastern,South-East Asian,North-East Asian,Southern and Central Asian,Peoples of the Americas,Sub-Saharan African,Supplementary codes,Not stated,Total
0,Albury,"22,851","44,146","2,110",192,624,434,"1,519",117,127,179.0,"6,338","78,643"
1,Auburn,"8,071","10,672","4,851","18,601","5,416","27,441","17,226",555,"1,024",806.0,"9,025","103,687"
2,Ballina,"18,816","42,558","2,497",302,360,572,317,395,173,175.0,"7,117","73,281"
3,Balmain,"12,938","39,195","7,959","1,427","2,387","8,285","1,611","1,096",316,253.0,"7,303","82,774"
4,Bankstown,"9,822","11,228","8,329","20,262","13,585","8,614","4,904",444,975,666.0,"6,691","85,526"
5,Barwon,"29,745","35,810","1,349",103,361,295,433,84,128,148.0,"8,897","77,346"
6,Bathurst,"23,943","42,142","1,844",278,458,535,535,124,114,176.0,"7,933","78,083"
7,Baulkham Hills,"12,473","26,195","6,156","3,327","2,069","16,337","8,889",660,530,264.0,"2,247","79,148"
8,Bega,"19,974","40,949","2,137",108,371,331,206,198,106,142.0,"5,530","70,055"
9,Blacktown,"15,895","22,167","7,321","5,032","8,491","4,319","17,646",667,822,691.0,"4,654","87,706"
10,Blue Mountains,"17,165","43,966","3,622",282,594,904,399,397,183,196.0,"3,619","71,328"
11,Cabramatta,"7,139","8,023","10,448","8,833","26,113","13,692","1,355","1,260",310,261.0,"4,355","81,787"
12,Camden,"22,087","39,423","11,483","2,751","1,527","1,760","2,333","1,068",648,324.0,"4,801","88,206"
13,Campbelltown,"21,074","32,110","5,280","3,039","4,101","1,723","3,976","1,114",735,401.0,"5,294","78,843"
14,Canterbury,"8,875","13,606","19,851","9,145","5,987","16,778","6,594",927,549,410.0,"5,301","88,013"
15,Castle Hill,"14,165","30,373","8,203","3,714","2,680","9,307","6,694",674,984,321.0,"2,707","79,827"
16,Cessnock,"24,744","42,224","1,523",131,424,405,552,113,117,159.0,"6,250","76,641"
17,Charlestown,"21,010","41,861","3,266",172,488,838,533,198,171,138.0,"3,364","72,041"
18,Clarence,"24,134","40,908","1,098",47,365,289,217,129,67,143.0,"6,123","73,511"
19,Coffs Harbour,"20,262","40,566","1,964",309,876,655,"1,720",199,497,220.0,"5,672","72,949"
20,Coogee,"12,481","40,719","9,804","1,953","1,501","4,755","1,317","1,592",771,386.0,"7,889","83,167"
21,Cootamundra,"23,995","38,173","1,037",279,317,405,280,84,70,78.0,"7,044","71,783"
22,Cronulla,"18,783","40,878","6,275",653,716,"1,466",478,452,244,123.0,"3,660","73,727"
23,Davidson,"13,390","35,834","4,531","1,513",810,"13,901","3,005",614,"1,439",252.0,"3,011","78,297"
24,Drummoyne,"9,669","24,101","17,441","3,140","1,726","15,169","3,080",773,337,168.0,"4,644","80,243"
25,Dubbo,"26,629","38,623","1,168",211,451,583,"1,052",106,182,168.0,"7,398","76,568"
26,East Hills,"14,022","21,642","10,495","10,209","5,983","7,077","2,692",579,474,289.0,"3,877","77,345"
27,Epping,"10,006","24,550","3,867","1,921","1,660","24,918","8,733",463,597,191.0,"3,025","79,930"
28,Fairfield,"8,595","9,866","8,284","21,479","18,505","10,244","2,462","1,540",397,367.0,"5,240","86,988"
29,Gosford,"19,755","40,953","3,272",409,995,"1,701",969,455,292,193.0,"4,854","73,846"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Pittwater,"16,154","43,820","4,437",364,522,"1,033",483,681,379,161.0,"4,060","72,088"
67,Port Macquarie,"20,962","43,658","1,744",163,366,508,349,202,121,209.0,"4,843","73,129"
68,Port Stephens,"21,603","40,660","2,097",137,396,393,213,196,170,160.0,"5,346","71,380"
69,Prospect,"10,629","14,977","13,415","12,853","5,190","4,570","13,462","1,484",507,377.0,"4,250","81,719"
70,Riverstone,"15,489","25,802","7,112","3,066","5,968","5,110","20,152",772,"1,121",643.0,"4,634","89,862"
71,Rockdale,"9,508","17,737","20,817","7,644","3,829","11,293","6,858","1,876",320,367.0,"5,942","86,196"
72,Ryde,"9,686","21,744","7,783","3,390","3,797","31,455","9,475",770,394,337.0,"4,132","92,963"
73,Seven Hills,"14,779","26,289","6,443","4,595","2,884","6,788","16,543",626,515,488.0,"4,508","84,443"
74,Shellharbour,"21,080","42,923","9,456",771,845,671,558,500,163,174.0,"4,070","81,217"
75,South Coast,"20,436","39,292","2,948",134,438,471,291,186,110,159.0,"5,062","69,529"
76,Strathfield,"7,024","15,021","11,598","5,152","4,118","29,949","13,905",777,277,316.0,"5,831","93,963"
77,Summer Hill,"10,776","26,805","13,432","2,898","5,253","9,434","5,059","1,105",395,307.0,"5,583","81,050"
78,Swansea,"21,863","42,032","2,204",149,353,505,220,162,122,152.0,"3,521","71,286"
79,Sydney,"9,401","35,724","7,603","1,529","8,088","16,159","2,797","1,750",425,372.0,"14,690","98,537"
80,Tamworth,"27,135","40,114",902,147,613,801,525,106,176,214.0,"6,302","77,032"
81,Terrigal,"19,374","44,392","3,013",291,414,823,383,322,366,167.0,"3,611","73,141"
82,The Entrance,"21,067","41,989","2,782",284,587,885,459,279,178,140.0,"4,399","73,037"
83,Tweed,"20,906","45,026","2,220",136,585,719,408,291,144,171.0,"5,547","76,157"
84,Upper Hunter,"26,064","40,315","1,054",92,478,387,324,112,139,186.0,"6,384","75,527"
85,Vaucluse,"12,011","35,003","12,145","3,164",875,"3,175",825,"1,502","2,626",695.0,"7,772","79,793"
86,Wagga Wagga,"23,941","41,628","1,401",490,791,796,"1,372",117,411,268.0,"5,309","76,532"
87,Wakehurst,"16,016","39,889","8,033",794,"1,715","4,900","2,250","1,038",424,264.0,"3,795","79,111"
88,Wallsend,"22,308","42,685","4,020",869,"1,012","2,813","1,942",245,451,343.0,"4,107","80,787"
89,Willoughby,"11,970","33,203","5,740","1,401","2,095","20,600","3,882",771,446,263.0,"4,446","84,808"
90,Wollondilly,"21,459","40,724","5,212",585,394,585,442,315,213,168.0,"4,478","74,571"
91,Wollongong,"16,706","34,343","15,295","3,129","1,882","3,004","1,568",645,440,339.0,"5,624","82,975"
92,Wyong,"23,406","42,070","3,058",299,791,837,687,316,204,277.0,"5,192","77,142"
93,No usual address (NSW),"2,382","4,627",504,252,222,520,257,79,53,74.0,"3,317","12,288"
94,Migratory - Offshore - Shipping (NSW),81,196,32,6,11,35,0,0,0,3.0,48,419
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
Ancestry['NewEuropean'] = Ancestry['North-West European'].str.replace(',', '')
Ancestry['NewEuropean'] = Ancestry['NewEuropean'].astype(int)
Ancestry['Total'] = Ancestry['Total'].str.replace(',', '')
Ancestry['Total'] = Ancestry['Total'].astype(int)

In [55]:
Ancestry['Proportion'] = Ancestry['NewEuropean']/Ancestry['Total']

In [56]:
Ancestry=Ancestry.drop(['Oceanian','North-West European','Southern and Eastern European','North African and Middle Eastern','South-East Asian','North-East Asian','Southern and Central Asian','Peoples of the Americas','Sub-Saharan African','Supplementary codes','Not stated','Total','NewEuropean'],axis=1)

In [57]:
Ancestry

                                     Name  Proportion
0                                  Albury    0.561347
1                                  Auburn    0.102925
2                                 Ballina    0.580751
3                                 Balmain    0.473518
4                               Bankstown    0.131282
5                                  Barwon    0.462985
6                                Bathurst    0.539708
7                          Baulkham Hills    0.330962
8                                    Bega    0.584526
9                               Blacktown    0.252742
10                         Blue Mountains    0.616392
11                             Cabramatta    0.098096
12                                 Camden    0.446942
13                           Campbelltown    0.407265
14                             Canterbury    0.154591
15                            Castle Hill    0.380485
16                               Cessnock    0.550932
17                            Charlestown    0.581072
18                               Clarence    0.556488
19                          Coffs Harbour    0.556087
20                                 Coogee    0.489605
21                            Cootamundra    0.531783
22                               Cronulla    0.554451
23                               Davidson    0.457668
24                              Drummoyne    0.300350
25                                  Dubbo    0.504427
26                             East Hills    0.279811
27                                 Epping    0.307144
28                              Fairfield    0.113418
29                                Gosford    0.554573
..                                    ...         ...
65                                Penrith    0.513022
66                              Pittwater    0.607868
67                         Port Macquarie    0.597000
68                          Port Stephens    0.569627
69                               Prospect    0.183274
70                             Riverstone    0.287129
71                               Rockdale    0.205775
72                                   Ryde    0.233900
73                            Seven Hills    0.311322
74                           Shellharbour    0.528498
75                            South Coast    0.565117
76                            Strathfield    0.159861
77                            Summer Hill    0.330722
78                                Swansea    0.589625
79                                 Sydney    0.362544
80                               Tamworth    0.520745
81                               Terrigal    0.606937
82                           The Entrance    0.574900
83                                  Tweed    0.591226
84                           Upper Hunter    0.533783
85                               Vaucluse    0.438673
86                            Wagga Wagga    0.543929
87                              Wakehurst    0.504216
88                               Wallsend    0.528365
89                             Willoughby    0.391508
90                            Wollondilly    0.546110
91                             Wollongong    0.413896
92                                  Wyong    0.545358
93                 No usual address (NSW)    0.376546
94  Migratory - Offshore - Shipping (NSW)    0.467780

[95 rows x 2 columns]

In [ ]:
Ancestry.to_csv()