In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

import seaborn as sns
import matplotlib.pylab as plt
%matplotlib inline

going to import all 5 data files and attempt to clean them.

In [14]:
Ancestry=pd.read_csv('Unclean Data/Ancestry 1st Response - Unclean.csv')
Age=pd.read_csv('Unclean Data/Average Age - Unclean.csv')
Education=pd.read_csv('Unclean Data/Education - Unclean.csv')
Children=pd.read_csv('Unclean Data/Number of Children ever born - Unclean.csv')
Income=pd.read_csv('Unclean Data/Weekly income - Unclean.csv')

,Name,Nil income,"$1-$149 ($1-$7,799)","$150-$299 ($7,800-$15,599)","$300-$399 ($15,600-$20,799)","$400-$499 ($20,800-$25,999)","$500-$649 ($26,000-$33,799)","$650-$799 ($33,800-$41,599)","$800-$999 ($41,600-$51,999)","$1,000-$1,249 ($52,000-$64,999)","$1,250-$1,499 ($65,000-$77,999)","$1,500-$1,749 ($78,000-$90,999)","$1,750-$1,999 ($91,000-$103,999)","$2,000-$2,999 ($104,000-$155,999)","$3,000 or more ($156,000 or more)",Total
0,Albury,"3,863","2,559","4,640","6,237","6,264","5,767","5,463","5,930","5,362","3,452","2,592","1,634","1,898",982,"56,658"
1,Auburn,"12,984","3,246","7,081","7,504","6,439","5,890","6,303","6,752","6,326","3,799","2,866","1,866","2,620","1,062","74,730"
2,Ballina,"3,332","2,370","4,106","6,190","6,585","6,088","5,554","5,150","4,533","2,657","2,152","1,535","1,875","1,325","53,436"
3,Balmain,"6,313","1,951","3,146","3,654","3,637","3,415","3,408","4,266","5,154","4,347","4,462","3,501","7,463","8,073","62,779"
4,Bankstown,"9,174","2,953","6,614","7,226","6,023","4,970","5,074","5,215","4,734","2,879","1,908","1,172","1,381",502,"59,829"
5,Barwon,"3,762","2,041","5,301","6,848","6,416","5,048","4,690","4,495","4,231","2,619","2,169","1,644","2,068","1,034","52,370"
6,Bathurst,"4,386","2,466","4,900","6,129","6,301","5,068","4,896","5,000","4,726","3,129","2,591","1,894","2,462","1,002","54,949"
7,Baulkham Hills,"7,680","3,282","3,627","3,765","3,512","3,988","3,956","4,480","5,388","4,222","3,900","3,049","5,670","3,602","60,109"
8,Bega,"3,141","2,464","5,025","7,647","7,087","5,986","5,368","4,953","4,171","2,387","1,617","1,110","1,207",666,"52,829"
9,Blacktown,"8,357","2,762","5,074","6,047","5,466","4,737","5,797","7,103","6,937","4,348","3,080","1,945","2,168",534,"64,349"
10,Blue Mountains,"4,425","2,585","3,859","4,745","5,483","4,872","4,468","4,682","4,782","3,475","3,186","2,540","3,435","1,299","53,839"
11,Cabramatta,"9,810","3,134","7,207","8,015","6,169","4,852","5,322","5,384","4,675","2,622","1,791","1,034","1,086",384,"61,480"
12,Camden,"6,059","2,673","3,653","4,613","4,299","4,565","5,075","6,031","6,869","5,127","4,344","3,172","4,179","1,503","62,165"
13,Campbelltown,"6,265","2,525","4,711","5,820","5,163","4,704","5,312","6,023","5,640","3,624","2,634","1,601","1,852",589,"56,481"
14,Canterbury,"9,221","2,956","5,587","6,950","5,997","5,337","5,540","6,016","6,051","3,878","2,976","2,025","2,764","1,239","66,532"
15,Castle Hill,"7,414","3,104","3,470","3,442","3,329","3,875","3,909","4,445","5,242","4,063","4,004","3,089","5,650","3,902","58,937"
16,Cessnock,"4,506","2,380","4,724","6,754","6,203","4,899","4,951","4,791","4,696","2,822","2,259","1,578","2,427",901,"53,892"
17,Charlestown,"3,829","2,646","3,993","5,934","5,668","4,744","4,563","4,776","4,952","3,280","2,966","2,162","3,291","1,590","54,403"
18,Clarence,"3,627","2,339","5,684","8,799","7,712","5,814","5,456","4,735","3,704","1,972","1,497","1,016","1,035",531,"53,917"
19,Coffs Harbour,"3,622","2,398","4,842","6,757","6,346","5,637","5,562","5,326","4,312","2,694","1,986","1,398","1,581",793,"53,257"
20,Coogee,"4,807","1,989","2,613","3,058","3,379","3,337","3,470","4,522","5,795","5,197","5,011","3,826","7,120","7,422","61,541"
21,Cootamundra,"3,415","2,022","4,438","7,063","6,477","5,412","5,163","4,891","4,061","2,232","1,807","1,183","1,341",880,"50,360"
22,Cronulla,"4,255","2,597","2,820","3,508","4,019","4,046","4,258","4,764","5,451","4,283","3,963","2,966","4,924","3,931","55,774"
23,Davidson,"7,210","3,387","3,148","3,017","3,198","3,472","3,360","3,925","4,423","3,442","3,362","2,640","5,501","7,971","58,047"
24,Drummoyne,"7,255","2,259","3,302","4,084","3,891","3,659","3,778","4,726","5,605","4,266","4,207","3,245","6,102","5,190","61,574"
25,Dubbo,"3,651","2,277","4,182","5,931","5,544","5,064","5,261","5,227","4,768","2,883","2,406","1,868","2,478","1,111","52,657"
26,East Hills,"6,840","2,581","4,544","5,663","5,153","4,555","4,669","5,267","5,474","3,628","2,903","2,051","2,815","1,085","57,236"
27,Epping,"9,374","3,573","3,816","3,801","3,827","3,909","3,782","4,335","5,084","3,804","3,647","2,937","5,703","4,209","61,809"
28,Fairfield,"8,890","3,291","8,350","9,221","7,026","4,927","5,131","5,471","4,611","2,610","1,683",967,958,342,"63,477"
29,Gosford,"4,584","2,437","4,358","6,247","6,606","5,339","4,938","5,150","4,864","3,147","2,584","1,790","2,491","1,127","55,668"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Pittwater,"4,398","2,471","2,873","3,235","3,725","4,036","4,075","4,574","5,164","3,925","3,514","2,425","4,433","4,680","53,522"
67,Port Macquarie,"3,620","2,368","4,772","8,144","7,272","5,977","5,241","4,872","4,232","2,597","2,019","1,489","1,720",945,"55,275"
68,Port Stephens,"4,075","2,427","4,520","6,644","6,298","5,396","4,756","4,598","4,532","2,785","2,327","1,490","1,989",936,"52,765"
69,Prospect,"7,607","2,780","5,302","6,247","5,162","4,428","4,852","5,808","5,771","3,884","3,023","1,949","2,487",783,"60,084"
70,Riverstone,"8,300","2,849","3,444","3,700","3,606","3,883","4,361","5,600","6,696","5,249","4,547","3,508","5,383","1,901","63,041"
71,Rockdale,"8,020","2,387","4,274","5,720","5,676","5,173","5,568","6,505","6,624","4,435","3,638","2,451","3,727","1,841","66,050"
72,Ryde,"11,556","3,323","4,857","5,080","5,046","4,831","4,990","5,819","7,040","4,956","4,438","3,249","5,473","2,702","73,367"
73,Seven Hills,"7,320","2,785","4,195","4,916","4,801","4,420","4,681","5,729","6,288","4,511","3,997","2,865","4,289","1,362","62,163"
74,Shellharbour,"5,426","2,799","4,969","7,675","6,574","5,672","5,272","5,292","5,066","3,384","2,759","2,010","2,603",860,"60,358"
75,South Coast,"3,462","2,242","5,147","8,346","7,079","5,681","4,923","4,271","3,764","2,127","1,695","1,118","1,273",601,"51,729"
76,Strathfield,"12,125","3,017","4,801","5,831","5,682","5,311","5,403","6,337","6,909","4,700","3,934","2,754","4,394","2,528","73,729"
77,Summer Hill,"6,015","2,281","4,009","5,084","5,286","4,465","4,628","5,477","6,177","4,606","4,047","3,042","5,066","2,866","63,048"
78,Swansea,"4,314","2,380","4,350","7,321","6,605","5,531","4,765","4,727","4,687","2,769","2,262","1,627","2,072",989,"54,394"
79,Sydney,"7,074","1,550","3,023","4,557","5,157","4,834","4,648","5,688","6,938","5,491","5,386","4,120","8,707","9,726","76,904"
80,Tamworth,"3,632","2,318","4,344","6,315","6,079","5,269","5,519","5,866","5,076","2,944","2,312","1,652","2,147",979,"54,447"
81,Terrigal,"4,457","2,751","3,769","5,152","5,438","5,090","4,636","4,747","4,876","3,338","3,162","2,382","3,232","2,018","55,047"
82,The Entrance,"4,247","2,531","4,201","5,927","6,259","5,400","4,970","5,329","4,975","3,172","2,564","1,719","2,099",850,"54,247"
83,Tweed,"3,752","2,531","4,763","7,666","7,534","6,398","5,366","5,127","4,755","2,740","2,206","1,466","1,660",920,"56,888"
84,Upper Hunter,"4,702","2,505","4,368","5,757","5,507","4,824","4,718","4,484","4,192","2,702","2,330","1,883","3,782","1,553","53,314"
85,Vaucluse,"5,127","1,721","2,051","2,387","2,698","2,976","3,256","4,134","5,256","4,424","4,468","3,435","6,978","9,896","58,817"
86,Wagga Wagga,"3,967","2,452","4,275","5,274","5,303","5,333","5,442","5,880","5,532","3,618","2,811","2,019","2,304","1,056","55,273"
87,Wakehurst,"5,106","2,762","3,247","3,952","4,439","4,574","4,713","5,394","5,729","4,195","3,683","2,543","4,578","3,920","58,830"
88,Wallsend,"5,730","2,884","5,671","6,753","6,552","5,380","5,207","5,439","5,395","3,539","2,949","1,986","2,717","1,181","61,395"
89,Willoughby,"7,833","2,642","2,978","3,182","3,297","3,400","3,584","4,261","5,186","4,223","4,171","3,310","6,925","8,828","63,815"
90,Wollondilly,"4,877","2,482","3,607","5,078","4,741","4,618","4,818","5,127","5,304","3,530","3,015","2,281","3,034","1,650","54,171"
91,Wollongong,"6,261","3,010","6,400","7,857","7,485","5,369","5,160","4,978","5,044","3,356","2,800","2,020","2,709","1,206","63,655"
92,Wyong,"4,616","2,523","4,678","6,778","6,643","5,278","5,388","5,291","4,862","2,999","2,350","1,544","1,851",731,"55,527"
93,No usual address (NSW),"1,141",360,"1,548","1,326","1,047",704,682,668,536,272,215,134,210,109,"8,957"
94,Migratory - Offshore - Shipping (NSW),19,9,32,43,31,37,43,25,10,7,15,3,13,3,295
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN